<?xml version="1.0" encoding="utf-8"?>
<TeamDefinition xmlns="http://microsoft.com/schemas/VisualStudio/TFS/2008/TeamDefinition.xsd">
  <Team groupname="[Pivotal]\Contributors" groupsid="S-1-9-1551374245-3905333113-3606443080-2852405837-275422911-1-4120933674-4242012485-2744590578-551840803">
    <MemberQueries />
    <TeamQueries />
    <WorkspaceTemplate name="&lt;none&gt;" />
    <Links>
      <link text="Pivotal Project Dashboard " url="http://tfssites/sites/ICo/Pivotal/Dashboards/ProjectDashboard_wss.aspx" />
      <link text="TFS Web - Pivotal" url="http://tfs:8080/tfs/web/?pguid=482f24a0-1b9d-4ab0-adce-13c18911f042" />
    </Links>
  </Team>
</TeamDefinition>