<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TICPivotalQADataAccess.Properties.Settings.IP_EDConnectionString"
            connectionString="Data Source=NBCDTSQLS05\Instance_A;Initial Catalog=IP_ED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>